<div class="dark:bg-gray-800 py-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col md:flex-row -mx-4">
            <div class="md:flex-1 px-4">
                <div class="rounded-lg bg-gray-300 dark:bg-gray-700 mb-4">
                  <div id="indicators-carousel" class="relative w-full" data-carousel="static">
                      <!-- Carousel wrapper -->
                      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                          <% @product.images.each_with_index do |image, index| %>
                          <!-- Item 1 -->
                            <div class="<%= index.zero? ? "duration-700 ease-in-out" : "hidden" %>" data-carousel-item="<%= index.zero? ? "active" : "" %>">
                              <%= image_tag image, class:"absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" %>
                            </div>
                          <% end %>
                      </div>
                      <!-- Slider indicators -->
                      <div class="absolute z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2">
                        <% @product.images.each_with_index do |_, index| %>
                          <button type="button" class="w-3 h-3 rounded-full" aria-current="<%= index.zero? %>" aria-label="Slide <%= index + 1 %>" data-carousel-slide-to="<%= index %>"></button>
                        <% end %>
                      </div>
                      <!-- Slider controls -->
                      <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                              <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                              </svg>
                              <span class="sr-only">Previous</span>
                          </span>
                      </button>
                      <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                              <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                              </svg>
                              <span class="sr-only">Next</span>
                          </span>
                      </button>
                  </div>

                </div>
            </div>
            <div class="md:flex-1 px-4">
                <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-2"><%= @product.name %></h2>
                <div class="flex mb-4">
                    <div class="mr-4">
                        <span class="font-bold text-gray-700 dark:text-gray-300">Price:</span>
                        <span class="text-gray-600 dark:text-gray-300"> &#x20B9;<%= @product.price %></span>
                    </div>
            
                </div>
         
                <div>
                    <span class="font-bold text-gray-700 dark:text-gray-300">Product Description:</span>
                    <p class="text-gray-600 dark:text-gray-300 text-sm mt-2">
                      <%= @product.description %>
                    </p>
                </div>
                <div class="flex -mx-2 mb-4 mt-5">
                    <div class="w-1/2 px-2">
                      
                      <% if current_user  %>
                        <%= button_to "Buy Now", line_item_buy_now_path(@product), data: {turbo: false} , class:"w-full bg-gray-900 dark:bg-gray-600 text-white py-2 px-4 rounded-full font-bold hover:bg-gray-800 dark:hover:bg-gray-700 transition:ease-in duration-300"%>
                      <% else %>
                        <%= button_to "Buy Now", new_user_session_path, data: {turbo: false} , class:"w-full bg-gray-900 dark:bg-gray-600 text-white py-2 px-4 rounded-full font-bold hover:bg-gray-800 dark:hover:bg-gray-700 transition:ease-in duration-300"%>
                      <% end %>
                      
                    </div>
                    <div class="w-1/2 px-2" id="add_to_cart_<%= current_user&.id %>">
                    <% if current_user  %>
                      <%= render "products/add_to_cart_form", product: @product %>
                    <% end %>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid place-items-start p-10">
  <div class="grid grid-cols-3 gap-4">

    <%= link_to "Back to products", products_path, class:"bg-gray-100 p-2 text-black hover:bg-gray-200" %>
    <% if current_user.try(:type) %>
      <%= link_to "Edit this product", edit_product_path(@product), class:"bg-green-400 p-2 text-white hover:bg-green-700" %> 
      <%= button_to "Destroy this product", @product, method: :delete, class:"bg-red-400 p-2 text-white hover:bg-red-700" %>
    <% end %>
  </div>
</div>
